.main {
  margin-top: 20px;
  font-size: 22px;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  color: white;
  gap: 10px;
}

.heroContent {
  flex: 1;
}
.heroImage {
  flex: 1;
}

.resizableImage {
  border-radius: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
