.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 20px;
  background-color: rgb(238, 233, 233);
  margin: 10px;
  border-radius: 20px;
  font-size: 20px;
}

.title {
  flex-basis: 100%;
  align-self: center;
}

.hostInfo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  flex-basis: 65%;
}

.coachImg {
  border-radius: 50%;
}

.hostInfo h4 {
  margin: 0;
  font-size: 20px;
}

.hostInfo p {
  flex-basis: 100%;
  margin-top: 10px;
  margin-left: 0;
  font-size: 1rem;
}

.imageSection {
  flex-basis: 60%;
}

.imageResize {
  border-radius: 20px;
  height: auto;
  width: auto;
  object-fit: cover;
}

.details {
  flex-basis: 30%;
}

.description {
  flex-basis: 100%;
  margin-top: 20px;
}

.comments {
  margin: 10px 0px 25px;
}

.commentBox {
  padding: 10px;
  font-size: 1rem;
  width: 80%;
  border-radius: 10px;
}

.joinButton {
  background-color: #073b3a;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pageBtn {
  all: unset;
  background-color: #073b3a;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
}
