.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 0px 20px;
  background-color: rgb(238, 233, 233);
  margin: 10px;
  border-radius: 20px;
  font-size: 20px;

}

.title {
  grid-column: 1 / 2;
  align-self: center;
}

.hostInfo {
  display: flex;
  align-items: center;  
  gap: 15px;  
  margin-top: 20px;  
}

.coachImg {
  border-radius: 50%; 
}

.hostInfo h4 {
  margin: 0;
  font-size: 20px
}

.hostInfo p {
  grid-column: 1 / span 2; 
  margin-top: 10px;  
  margin-left: 0;   
  font-size: 1rem;   
}

.imageSection {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.imageResize {
  border-radius: 20px;
  height: auto;
  width: auto;
  object-fit: cover;
}

.details {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.description {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin-top: 20px;
}

.comments {
  margin: 10px 0px 25px;
}

.commentBox {
  padding: 10px;
  font-size: 1rem;
  width: 80%;
  border-radius: 10px;
}