.filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.filter button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.events {
  margin-bottom: 40px;
}
.eventList {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /* Each card will take up at least 300px */
  gap: 16px; /* Adds spacing between the cards */
}
.eventCard {
  background-color: #f0f0f0;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.eventImage {
  height: 150px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.main {
  background-color: rgb(226, 226, 226);
  padding: 20px;
  border-radius: 10px;
}
