.container {
  margin: 0 auto;
  padding: 0;
  background: white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  min-height: 100px;
}

.header h1 {
  font-size: 3rem;
}

.signOut {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 20px;
  border-radius: 10px;
  background: #4caf50;
  color: white;
  font-weight: 600;
}
