.container {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.signOut {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.nav {
  background-color: #4caf50;
  padding: 10px 0;
}
.nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
